<!DOCTYPE html>
<html>
  <head>
    <title>Who's Ahead Now?</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,400' rel='stylesheet' type='text/css'>
    <!-- <%#= javascript_include_tag 'application' %> -->
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon.png">
    <meta name="author" content="kate.travers@flatironschool.com">
    <meta name="description" content="Who's Ahead Now? We'll tell you. Click to see who's leading the polls right now.">
  </head>
  
      <%= yield %>

      <%= render 'layouts/footer' %>
    </div><!-- closes <div id="background"> -->
  </body>
</html>