<!DOCTYPE html>
<html>
<head>
  <title>Who's Ahead Now?</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
  <body>
    <nav>
    </nav>
  <%= yield %>
    <footer>
      Made by <a href="http://kate-travers.com">Kate Travers</a> using the <a href="http://elections.huffingtonpost.com/pollster/api">Huffington Post Pollster API</a>. This site is not affiliated with any political party. | <a href="https://github.com/ktravers/whos-ahead-now">Source code</a> | <a href="mailto:kate.travers@flatironschool.com">Feedback</a>
    </footer>
  </body>
</html>